@{
    ViewBag.Title = "Mrs. Patricia Rolim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="about-img">
    <img class="about-img" src="~/Resources/cleaner.gif"/>
    <p class="right">I Work with Cleaner for more than 10 years, Experience is my goal.</p>
</div>

