@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mead place <br />
    RickMansWorth, GB WD3 7HB<br />
    <abbr title="Phone">P:</abbr>
    07491880260
</address>

<address>
    <strong>Email:</strong>   <a href="#">celoepaty@hotmail.com</a><br />
    
</address>