
@{
    ViewBag.Title = "Esquema";
}

<div class="es_div1">
    <div class="es_Current">
        <!--name-->
        <div align="center"> 
            <div id="pointer" align="center">
                <label class="es_Name">Current</label>
            </div>
        </div>
        <!--current jobs-->
        <div align="center" class="current">
            a
        </div>
        <br/>
    </div>
    <div class="es_coming">
        <!--name-->
        <div align="center">
            <div id="pointer" align="center">
                <label class="es_Name">Incoming</label>
            </div>
        </div>
    </div>
</div>

