@{
    ViewBag.Title = "ClearnerBom";
}

<div class="jumbotron">
    <h1>Gerencia seus clientes.</h1>
    <div class="text-left"><p class="lead">Criar e organizar seu esquema de trabalho nunca foi tao facil.</p></div>
  
    <a class="btn btn-primary btn-lg" href='@Url.Action("Esquema", "Home")' >Gerenciar Esquema </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-logo">Cleaner<label class="text-warning">Bom</label></h2>
        <p>
            Esta plataforma ira lhe ajudar a organizar seu esquema de trabalho.
        </p>
        <div class="list-group">

            <ul class="list-group-item-success ul">
                <li>Trabalho com rapides e eficiencia!<br /><img class="around " src="~/Resources/speeed.png" /></li>
            </ul>

            <ul class="list-group-item-success ul">
                <li>Confiabilidade!<br /><img class="around" src="~/Resources/hd-simplitfy.png" /></li>

            </ul>
            <ul class="list-group-item-success ul">
                <li>Compromisso!<br /><img class="around" src="~/Resources/compromisso.png" /></li>
            </ul>
        </div>
       
    </div>
    <div class="col-md-4">
        <h2>Aprenda a usar.</h2>
        <p>Cliki no link para ver um breve tutoria de como criar um novo esquema e adicionar novos clientes.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprenda a Criar. &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>CleanerBom</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>